<% provide(:title, 'お問い合わせ') %>
<%= form_for @inquiry, url: inquiry_confirm_path do |f| %>
<h1>お問い合わせ</h1>
  <%= render 'shared/error_messages', object: f.object %>
  
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
  <%= f.label :name, 'お名前' %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email, 'メールアドレス' %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <%= f.label :message, 'お問い合わせ内容' %>
  <%= f.text_area :message, class: 'form-control', rows: '5' %>
  
  <%= f.submit '確認', class: 'btn btn-primary' %>
  
  </div>
</div>
<% end %>
